<li>
	{{this.name}}

	<button class="change-sleep" data-id="{{this.id}}" data-newsleep="{{this.sleepy}}">
		{{#if this.sleepy}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>
